* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Corben", cursive;
}

body {
  height: 100vh;
  position: relative;
}

.main {
  position: relative;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  max-width: 1200px;
  height: 94vh;
  top: 3vh;
  margin: auto;
  overflow: hidden;
}

.img {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 600px;
}

#logo {
  transition: all .5s;
}

.about {
  position: relative;
  width: 600px;
  padding-left: 20px;
}

.about nav {
  position: absolute;
  top: 50px;
}

.about nav a{
  font-size: 2em;
  position: relative;
  display: inline-block;
  transition: .3s;
  margin-right: 50px;
  color: rgb(141, 149, 156);
}

.about nav a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 2px;
  background-color: #00cec9;
  transition: .3s;
}

.about nav a:hover {
  color: #00cec9;
}

.about nav a:hover::after {
  width: 100%;
}

.title {
  font-size: 5em;
  position: absolute;
  top: 200px;
}

.disc {
  position: absolute;
  top: 350px;
}

.name {
  color: #ED4C67;
  font-weight: bold;
  margin: 0 7px;
}

.name:hover {
  color: #00cec9;
  cursor: pointer;
}

.span {
  letter-spacing: 3px;
}
.space {
  margin-left: 210px;
}

footer {
  position: absolute; /* body relative */
  bottom: 2px;
  right: 9px;
}

footer a {
  color: #66d7eb;
  transition: .3s;
}
footer a:hover {
  color: #8a35b1;
}
