* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Corben", cursive;
}

body {
  height: 100vh;
  position: relative;
}

.main {
  transition: all .2s;
  position: relative;
  border-radius: 10px;
  background-color: white;
  display: flex;
  max-width: 1200px;
  height: 94vh;
  top: 3vh;
  margin: 0 auto;
  overflow: hidden;
}

.img {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 600px;
}

#logo {
  transition: all .5s;
}

.about {
  position: relative;
  width: 600px;
  padding-left: 20px;
}

.about nav {
  position: absolute;
  top: 50px;
}

.about nav a{
  font-size: 2em;
  position: relative;
  display: inline-block;
  transition: .3s;
  margin-right: 50px;
  color: rgb(141, 149, 156);
}

.about nav a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 2px;
  background-color: #00cec9;
  transition: .3s;
}

.about nav a:hover {
  color: #00cec9;
}

.about nav a:hover::after {
  width: 100%;
}

.title {
  font-size: 5em;
  position: absolute;
  top: 150px;
}

.disc {
  font-size: 1.2em;
  position: absolute;
  top: 300px;
}

.name {
  color: #ED4C67;
  font-weight: bold;
  margin: 0 7px;
}

.name:hover {
  color: #00cec9;
  cursor: pointer;
}

.span {
  letter-spacing: 3px;
}
.space {
  margin-left: 210px;
}

footer {
  position: absolute; /* body relative */
  bottom: 2px;
  right: 9px;
}

footer a {
  color: #66d7eb;
  transition: .3s;
}
footer a:hover {
  color: #8a35b1;
}


@media screen and (max-width:1200px) {
  .main {
    transform: scale(.9);
  }
  .space {
    margin-left: 25%;
  }
  .title {
    font-size: 4em;
  }
}

@media screen and (max-width:1000px) {
  .img {
    display: none;
  }
  .main {
    justify-content: center;
  }
}

@media screen and (max-width:500px) {
  * {
    font-family: 'Noto Serif JP', serif;
  }
  .main {
    top: 0;
    height: 100%;
    overflow: auto;
  }
  .about {
    padding: 0;
  }
  .about nav {
    top: 0;
    width: 100%;
  }
  .about nav a {
    margin: 20px 15px 0 0;
  }
  .title {
    font-size: 3em;
  }
  .disc {
    position: relative;
  }
  .disc h3 {
    font-size: 1em;
  }
  footer {
    display: none;
  }
}