* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Corben", cursive;
  color: white;
}

body {
  background: url(../img/glasses-orig.jpg);
}

.main {
  height: 100vh;
}

footer {
  color: white;
  height: 50px;
  background-color: rgb(59, 57, 57);
  border-top: 2px solid #61e7e1;
  text-align: center;
}
footer a {
  color: #b1abab;
  transition: .5s;
}
footer a:hover {
  color: #7ed6df;
}